.fi-fo-rich-editor-content{
    min-height: 150px;
}

.fi-badge.fi-size-sm {
    min-width: 1.25rem;
    padding-block: calc(var(--spacing) * 1.2);
    --tw-tracking: var(--tracking-tight);
    letter-spacing: var(--tracking-tight);
}

.fi:not(.dark) {
    .fi-badge.fi-color-warning{
        background: #F6C000 !important;
        color: #222222 !important;
        font-weight: 600;
    }

    .fi-badge.fi-color-success{
        background: #17C653 !important;
        color: #fff !important;
        font-weight: bold;
    }

    .fi-badge.fi-color-danger{
        background: #F8285A !important;
        color: #fff !important;
        font-weight: bold;
    }

    .fi-badge.fi-color-info{
        background: #1B84FF !important;
        color: #fff !important;
        font-weight: 600;
    }

    .fi-badge.fi-color-orange{
        background: #ff8306 !important;
        color: #fff !important;
        font-weight: 600;
    }

    .fi-badge.fi-color-green{
        background: #17C653 !important;
        color: #fff !important;
        font-weight: 500;
    }

    .fi-badge.fi-color-grupooliveiraneto{
        background: #011C40 !important;
        color: #F2E205 !important;
        font-weight: 500;
    }

    .fi-badge.fi-color-movelveiculos{
        background: #001e50 !important;
        color: #fff !important;
        font-weight: 500;
    }

    .fi-badge.fi-color-bydconquista{
        background: #000 !important;
        color: #FFF !important;
        font-weight: 500;
        --tw-ring-shadow: inherit;
    }



    .fi-input-wrp {
        --tw-ring-color: color-mix(in oklab, var(--gray-950) 20%, transparent);
    }

    .fi-section:not(.fi-section-not-contained):not(.fi-aside) {
        --tw-ring-color:
            color-mix(in oklab, var(--gray-950) 20%, transparent);
    }

    .fi-section:not(.fi-section-not-contained):not(.fi-aside).fi-section-has-header:not(.fi-collapsed)>.fi-section-content-ctn {
        border-color: var(--gray-300);
    }

    .fi-section>.fi-section-header{
        background: var(--gray-100);
        border-top-right-radius: 14px;
        border-top-left-radius: 14px;
    }
}





