.page-login.fi-panel-grupooliveiraneto {
    background: #011C40;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-login.fi-panel-grupooliveiraneto .fi-logo {
    height: 3.2rem !important;
}

.page-login.fi-panel-grupooliveiraneto .fi-fo-text-input{
    background-color: #151515;
}

.page-login.fi-panel-grupooliveiraneto .fi-ac-btn-action{
    height: 50px !important;
}

.page-login.fi-panel-grupooliveiraneto input.fi-input{
    background-color: #ddd;
    color: #000;
    box-shadow: none !important;
    height: 45px !important;
}

.page-login.fi-panel-grupooliveiraneto .fi-input-wrp-suffix{
    background-color: #151515;
    border-color: #0e0e0e;
}

.page-login.fi-panel-grupooliveiraneto .fi-input-wrp-content-ctn,
.page-login.fi-panel-grupooliveiraneto .fi-input,
.page-login.fi-panel-grupooliveiraneto .fi-fo-field-content-col,
.page-login.fi-panel-grupooliveiraneto .fi-fo-text-input,
.page-login.fi-panel-grupooliveiraneto .fi-input-wrp{
    box-shadow: none !important;
    --tw-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-ring-color: #0000;
}

.page-login.fi-panel-grupooliveiraneto .fi-simple-main{
    background-color: #f5f5f5;
}

.page-login.fi-panel-grupooliveiraneto .fi-simple-header-heading,
.page-login.fi-panel-grupooliveiraneto .fi-fo-field .fi-fo-field-label-content{
    color: #000;
}

.fi:not(.dark) {

    .fi-topbar{
        background-color: var(--gray-100);
    }

    .fi-sidebar-item-btn>.fi-icon {
        color: var(--gray-700);
    }

    .fi-topbar-database-notifications-btn{
        color: var(--gray-100);
    }

    @media (hover: hover) {
        .fi-sidebar-item.fi-sidebar-item-has-url>.fi-sidebar-item-btn:hover {
            background-color: #001e50;
        }

        .fi-sidebar-item.fi-sidebar-item-has-url>.fi-sidebar-item-btn:hover .fi-icon,
        .fi-sidebar-item.fi-sidebar-item-has-url>.fi-sidebar-item-btn:hover .fi-sidebar-item-label {
            color: var(--gray-200);
            font-weight: var(--font-weight-medium);
        }
    }

    .fi-sidebar .fi-dropdown-trigger{
        background-color:  var(--gray-100);
    }

    .fi-sidebar{
        background-color:  var(--gray-200);
    }

    .fi-sidebar-item.fi-active>.fi-sidebar-item-btn {
        background-color: #001e50;
    }

    .fi-sidebar-item.fi-active>.fi-sidebar-item-btn>.fi-sidebar-item-label {
        color: var(--gray-200);
        font-weight: var(--font-weight-medium);
    }

    .fi-sidebar-item.fi-active>.fi-sidebar-item-btn>.fi-icon{
        color: var(--gray-200);
    }

    .fi-sidebar-item-label{
        color: var(--gray-900);
        font-weight: var(--font-weight-normal);
    }

    .fi-sidebar-item-btn>.fi-icon {
        color: var(--gray-900);
    }

    .fi-page-sub-navigation-sidebar .fi-sidebar-item-label,
    .fi-page-sub-navigation-sidebar .fi-icon{
        color: var(--gray-900);
    }
}


