@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Bydconquista/**/*';
@source '../../../../resources/views/filament/bydconquista/**/*';
@source '../../../../resources/views/**/*';
